/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 300;
	src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v10/HqHm7BVC_nzzTui2lzQTDZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
}
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 700;
	src: local('Oswald Bold'), local('Oswald-Bold'), url(http://fonts.gstatic.com/s/oswald/v10/bH7276GfdCjMjApa_dkG6ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}
@font-face {
	font-family: 'Indie Flower';
	font-style: normal;
	font-weight: 400;
	src: local('Indie Flower'), local('IndieFlower'), url(http://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6hampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nCqOJfobX9lrC1wFVe9k15E.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsH4vxAoi6d67T_UKWi0EoHQ.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(http://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nPX2or14QGUHgbhSBV1Go0E.woff2) format('woff2');
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #666;
	background-color: #fff;
}

html {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 30px;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

p {
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
	color: #fff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover, a:focus {
	text-decoration: none;
	color: #FD8A17;
}

.light {
	font-weight: 400;
}

address {
	margin-left: 0;
	padding: 0;
}

/* misc */
hr {
	margin-top: 5px;
}

/* margins */
.marginbot-0 {
	margin-bottom: 0 !important;
}
.marginbot-10 {
	margin-bottom: 10px !important;
}
.marginbot-20 {
	margin-bottom: 20px !important;
}
.marginbot-30 {
	margin-bottom: 30px !important;
}
.marginbot-40 {
	margin-bottom: 40px !important;
}
.marginbot-50 {
	margin-bottom: 50px !important;
}
#layerslider * {
	font-family: 'Lato', 'Open Sans', sans-serif;
}
#slider-wrapper {
	padding-bottom: 5px;
	padding-top: 5px;
}
.ls-container, .ls-slide, .ls-inner, .ls-lt-container, .ls-bg {
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-moz-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-ms-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/* header-main */
.header-main {
	width: 100%;
	border-bottom: #FD8A17 2px solid;
}
.img-box {
	padding: 5px;
	margin-bottom: 10px;
}
.img-box img {

}
.icon {
	padding: 5px;
	float: left;
}

.login-home {
	margin: 10px;
	padding: 10px;
	float: right;
}
.login-home a {
	background: #FD8A17;
	color: #fff;
	padding: 10px;
	border: #FD8A17 1px solid;
}
.login-home a:hover {
	color: #FD8A17;
	background: #fff;
	border: #FD8A17 1px solid;
}
/* store */
.store {
	height: 485px;
	max-height: 485px;
	padding-bottom: 5px;
}
.store-box {
	display: inline-block;
	vertical-align: top;
	width: 344px;
	height: 480px;
	max-width: 344px;
	max-height: 480px;;
	margin: 0;
	padding: 0;
}

.vedio-box {
	vertical-align: top;
	display: inline-block;
	width: 854px;
	height: 480px;
	max-width: 854px;
	max-height: 480px;
	margin: 0;
	padding: 0;
}
.store-link-box {
	height: 6%;
	margin: 1px;
}
.store-link-box a {
	font-size: medium;
	border: #FD8A17 1.5px solid;
	background: #Fff;
	color: #FD8A17;
	display: block;
	height: 100%;
}

/* slider */

div#slider {
	height: 85%;
	overflow: hidden;
}
div#slider figure {
	position: relative;
	width: 800%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 15s slidy infinite;
}
@keyframes slidy {
0% { left: 0%; }
10% { left: 0%; }
14% { left: -100%; }
24% { left: -100%; }
28% { left: -200%; }
38% { left: -200%; }
42% { left: -300%; }
52% { left: -300%; }
56% { left: -400%; }
66% { left: -400%; }
70% { left: -500%; }
82% { left: -500%; }
86% { left: -600%; }
96% { left: -600%; }
100% { left: -700%; }
}

/* sign in */
* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.signin-box {
	padding: 20px;
}
.form-control {
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
fieldset label {
	display: block;
	text-align: left;
}

.unit-input {
	padding-right:0;
	margin-right:0;
	width: 69%;
	display: inline-block;
}
.unit-select {
	padding-left:0;
	margin-left:0;
	display: inline-block; 
	width : 30%;
}

#msform {
	width: 400px;
	margin: 0px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 100%;
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'montserrat';
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #FD8A17;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #F0AD4E;
}
#login-form {
	text-align: center;
	position: relative;
}
#login-form input {
	box-sizing: border-box;
}
#loginform .action-button {
	width: 100px;
	background: #FD8A17;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	margin-top: 30px;
	margin-left: 30%;
}
#loginform .action-button:hover, #loginform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #F0AD4E;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #2C3E50;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
	left: 15%;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -43%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
	background: #FD8A17;
	color: white;
}
/* dream */
.dream-form fieldset{
	margin-top: 60px;
	margin-bottom: 60px;
}
.left-selections label {
	display: inline-block;
	margin-right: 10px;
}	
.dream-form hr {
	width: 100%;
}
/* ===========================
 --- General sections
 ============================ */

.home-section {
	padding-top: 110px;
	padding-bottom: 110px;
	display: block;
	position: relative;
	z-index: 120;
}

.section-heading h2 {
	font-size: 40px;
}
.section-heading i {
	margin-bottom: 20px;
}

/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f8f8f8;
}

.bg-dark {
	background: #575757;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}

/* ============================
 --- Menu
 ============================= */

/* slider */

.tp-caption.custom_large_white {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
}

.tp-caption a.btn {
	color: #fff;
}

/* ===========================
 --- Contact
 ============================ */

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input, form#contact-form select, form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
	-webkit-box-shadow: none;
	box-shadow: none;
}

form#contact-form input:focus, form#contact-form select:focus, form#contact-form textarea:focus {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
	background-color: #fefefe;
	border: 1px solid #eee;
	border-radius: 0;
}

.widget-contact {
	text-align: left;
	margin-top: 30px;
}

#contact {
	width: 1200px;
	max-width: 1200px;
	margin-left: 115px;
}

/* ===========================
 --- Footer
 ============================ */

footer {
	text-align: center;
	padding: 50px 0;
	background: #FFFFFF;
}

footer p {
	color: #FD8A17;
}

footer a {
	color: #FD8A17;
}

footer a:hover {
	color: #FFCC00;
}

/* ===========================
 --- Elements
 ============================ */

.btn {
	border-radius: 0;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
	border: 2px solid #666;
	color: #666;
}

.btn-circle:hover, .btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover, .btn-circle.btn-dark :focus {
	outline: 0;
	color: #999;
	background: #fff;
}

.btn-circle.btn-dark :hover i, .btn-circle.btn-dark :focus i {
	color: #999;
}

.page-scroll .btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
0 {
-webkit-transform: scale(1);
transform: scale(1);
}

50% {
-webkit-transform: scale(1.2);
transform: scale(1.2);
}

100% {
-webkit-transform: scale(1);
transform: scale(1);
}
}

@-moz-keyframes pulse {
0 {
-moz-transform: scale(1);
transform: scale(1);
}

50% {
-moz-transform: scale(1.2);
transform: scale(1.2);
}

100% {
-moz-transform: scale(1);
transform: scale(1);
}
}

#text {
	color: #fff;
	background: #ffcc00;
}

#map {
	height: 500px;
}

.btn-skin:hover, .btn-skin:focus, .btn-skin:active, .btn-skin.active {
	color: #fff;
	background-color: #666;
	border-color: #666;
}

.btn-default:hover, .btn-default:focus {
	border: 1px solid #28c3ab;
	outline: 0;
	color: #000;
	background-color: #28c3ab;
}

.btn-huge {
	padding: 25px;
	font-size: 26px;
}

.banner-social-buttons {
	margin-top: 0;
}
/* title */
.title {
	width: 100%;
	height: 800px;;
	position: relative;
}
#begin {
	background-image: url(../img/user2.png);
	background-size: cover;
	height: 180px;
}
.header-name {
	padding-top: 65px;
	padding-bottom: 100px;
	padding-left: 20px;
}
.header-name h1 {
	text-align: center;
	color: #fff;
	font-size: x-large padding-bottom : 0px;
}
.header-name p {
	padding-top: 0px;
}

/* user */
.dropdown {
	height: 60px;
}
.dropdown-user li a {
	color: #EB5D1E;
}
/* cirecle */
.record {
	max-height: 200px;
}
.record img {

	zoom: 2;
	display: block;
	margin: auto;
	height: auto;
	max-height: 100%;
	width: auto;
	max-width: 100%;
}
.circle {
	margin-top: 8px;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.check {

	padding: 40px;
	padding-top: 30px;
	float: left;margin-top 20px;
	display: inline-block;
	width: 45%;
	height: 380px;
	background: #ffe3c8;
}

.quiz div {

	display: inline-table;
	margin-left: 10px;
}
.check .question {
	padding-bottom: 20px;
	width: 100%;
}

.textbox {
	float: right;
	padding: 30px;
	padding-top: 30px;
	display: inline-block;
	width: 45%;
	background: #ffe3c8;
	height: 380px;
}

#rounded1 {
	background: #66FF66;
}
#rounded2 {
	background: #75FF75;
}
#rounded3 {
	background: #85FF85;
}
#rounded4 {
	background: #94FF94;
}
#rounded5 {
	background: #a3ffa3;
}
#rounded6 {
	background: #b2ffb3;
}
#rounded7 {
	background: #c2ffc2;
}
#rounded8 {
	background: #d1ffd1;
}
#rounded9 {
	background: #e0ffe0;
}
/* act */
.color-gr {
	background: #E0FFE0;
}

#rounded11 {
	background: #FF0000;
}
#rounded12 {
	background: #FF1919;
}
#rounded13 {
	background: #ff3333;
}
#rounded14 {
	background: #ff4d4d;
}
#rounded15 {
	background: #ff6666;
}
#rounded16 {
	background: #ff8080;
}
#rounded17 {
	background: #ff9999;
}
#rounded18 {
	background: #ffb2b2;
}
#rounded19 {
	background: #ffcccc;
}
/* timeline */
.tree {
	background: #CCFFFF;
}
.time-left {
	margin-bottom: 250px;
	float: left;
	height: 250px;
	width: 50%;
	background-image: url(../img/leaf-l.jpg);
	background-size: cover;
	border-bottom: #8a5c2e 10px solid;
	border-right: #8a5c2e 10px solid;
}
.middle-left {
	color: #fff;
	margin-top: 20%;
}
.middle-left p {
	font-size: 30px;
}
.middle-right {
	color: #fff;
	margin-top: 20%;
}
.middle-right p {
	font-size: 30px;
}

.time-right {
	margin-top: 250px;
	float: right;
	height: 250px;;
	width: 50%;
	background-image: url(../img/leaf-r.jpg);
	background-size: cover;
	border-top: #8a5c2e 10px solid;
	border-left: #8a5c2e 10px solid;
}
.record-button {
	width: 250px;
	height: 50px;
	color: #fff;
	background: #2ECC71;
	font-size: 30px;
	border: none;
}
.record-button:hover {
	background: #FFB2B2;
}
/* timeline */
.search-bar {
	margin-top: -50px;
	margin-bottom: 20px;
}
.panel-tree {
	background-image: url("../img/tree.jpg");
	background-size: cover;
}
.timeline-panel {
	background: #fff;
}

/* Media queries */

@media (min-width: 767px) {

	.intro {
		height: 100%;
		padding: 0;
	}

	.brand-heading {
		font-size: 100px;
	}

	.intro-text {
		font-size: 25px;
	}
	.title {
		height: 100%;
		padding: 0;
	}

}
@media (max-width: 768px) {

	.team.boxed-grey {
		margin-bottom: 30px;
	}

	.boxed-grey {
		margin-bottom: 30px;
	}
	.intro .slogan {
		padding: 100px 0 60px;
	}
	.title .header-name {
		padding: 65px 0 60px;
		margin-left: 10px;
	}
	.dropdown {
		float: right;
	}
	.dropdown-menu {
		left: -110%;
	}
	.circle {
		width: 20px;
		height: 20px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	h5 {
		font-size: 12px;
	}
	.subtitle {
		font-size: 10px;
	}
	.check {
		padding: 8px;
		margin: 5px;
	}
	.check2 {
		padding: 8px;
		margin: 5px;
	}
	.button {
		margin-left: -8%;
	}
	.record {
		margin-left: 8%;
	}

}

@media (max-width: 480px) {

	.intro .slogan {
		padding: 170px 0 60px;
	}
	.title .header-name {
		padding: 80px 0 60px;
	}
	.header-name h1 {
		font-size: 20px;
	}

}